<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:label="MobileMuuzaji"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"/>

        <activity
            android:name=".AuthActivity"
            android:exported="false"/>

        <activity
            android:name=".DashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".CreateOrganizationActivity"
            android:exported="false"/>
        
        <activity
            android:name=".OrganizationsActivity"
            android:exported="false"/>

        <activity
            android:name=".OrganizationActivity"
            android:exported="false"/>

        <activity
            android:name=".EmployeesActivity"
            android:exported="false"/>
    </application>
</manifest>